.cursor-pointer {
    cursor: pointer;
}

.app-bg-color {
    background-color: orange;
}

.app-color {
    color: orange;
}

#app-logo {
    height: 50px !important;
}

#main {
    min-height: 450px;
}